* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.forRole {
    text-align: center;
    padding: 250px;
    background: url("img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.choose a {
    color: rgba(255, 255, 0, 0.888);
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

.choose .btn {
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
    background: transparent;

}

.dashboard .navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgba(255, 255, 0, 0.888);
}

.navbar li {
    float: left;
}



/* css styles for the dasboards*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.section {
    text-decoration: none;
    padding: 30px;
    gap: 20px;


}

.section h3 {
    padding: 20px;
}

grades {
    display: grid;
    gap: 20px;
}


