/* Apply to all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("../images/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.all {
    width: 450px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.all h1 {
    font-size: 36px;
    text-align: center;
}

.all .input {
    width: 100%;
    height: 70px;
    margin: 20px 0;
    position: relative;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 5px 45px 5px 20px;
}

.input input::placeholder {
    color: #fff;
}

.input i {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 20px;
}

.error {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    text-align: left;
    padding-left: 20px;
    display: none;
}

.all .rememberMessage {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 15px 0;
    align-items: center;
}

.rememberMessage label input {
    accent-color: #fff;
    margin-left: 5px;
}

.rememberMessage a {
    color: #fff;
    text-decoration:none ;
    margin-right: 5px;
}

.rememberMessage a:hover {
    text-decoration: underline;
}

.all .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: all 0.3s ease;
}

.all .btn:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
}

.all .registerLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p a {
    color: rgba(255, 255, 0, 0.888);
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}

.all .loginLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.loginLink p a {
    color: rgba(255, 255, 0, 0.888);
    text-decoration: none;
    font-weight: 600;
}

.loginLink p a:hover {
    text-decoration: underline;
}